body {
    background-image: none;
    font-family: Arial, sans-serif;
    margin: 10px; 
    padding: 10px; 
  }
  
  header {
    background-color: #4c59e8; 
    color: #ffffff; 
    padding: 20px 50px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
  }
  
  .logo {
    max-height: 100px; 
    margin-right: 20px; 
  }
  
  main {
    background-color: #f3f3f3; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .product {
    border: 1px solid #4c59e8;
    border-radius: 5px;
    padding: 30px;
    margin: 20px;
    width: 600px;
    text-align: center;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
  }
  
  #cart-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    background-color: #4c59e8;
    color: #ffffff;
    padding: 20px;
    height: 50%;
    display: none;
    overflow-y: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  .cart-heading {
    font-size: 200px;
    margin-bottom: 20px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .cart-item img {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
  }
  
  .cart-item-info {
    flex-grow: 1;
  }
  
  .cart-item-info h3 {
    margin: 0;
  }
  
  .cart-item-info p {
    margin: 5px 0;
  }
  
  .cart-total {
    margin-top: 20px;
    font-size: 50px;
    font-weight: bold;
  }
  
  .cart-buttons {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
  }
  
  .cart-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
  }
  
  .cart-buttons #checkout-btn {
    background-color: #ff0000;
  }
  
  .cart-buttons #close-cart {
    background-color: #555555;
  }
  
  .cart-buttons button:hover {
    opacity: 0.8;
  }